
.h1Container
    position: fixed
    height: 100vh
    width: 100%
    box-sizing: border-box
    //background: url('../../media/images/bosque2.jpg')
    background: url('../../media/images/bosque-comp.jpg')
    background-size: cover
    background-position: bottom

.border
    pointer-events: none //poder hacer click a link
    position: fixed
    height: 100vh
    width: 100%
    border: var(--padding) solid var(--white)
    box-sizing: border-box
    z-index: 1000

//.layout
    //overflow-y: scroll

.section
    scroll-snap-align: start
    position: relative

@media screen and (max-width: 50em)
    .border
        border: 0

//.onLayout
    //scroll-snap-align: start

//.layout
    //overflow-y: scroll
    //scroll-snap-type: y mandatory

//.section
    //scroll-snap-align: start
